body{
  background: linear-gradient(to right, #80d8ff  0%, white 100%);
}
.sitename{
	margin-left:5%;
}
.list li {
  margin-left:30%;
}
#white{
  color:white;
}
.logo{
  height:50px;
  left: 0px;
  width:200px; 
}
