body{
	background: linear-gradient(to right, #99ffcc 0%, white 100%);	
	font-family: "Franklin Gothic";
}
.nav *{
	display: inline;
}
.nav{
	display: flex;
	align-items: center;
	width:100%;
	height:85px;
	background-color:#28B463;
	position: fixed;
	top:0;
	left:0;
	font-family: "Franklin Gothic";
	box-shadow: 0px 1px 8px #82E0AA; 
}
li a.active{
	color: #fff111;
li a.active{
	color: #fff111;
} 
}
.aitamlogo{
	height:85px;
	width:200px;  
	margin:4px 0px 0px 0px; 
}
.nav h1{
	margin-left:100px;
	margin-right:-15px;
	color:#fff;
	font-size:3vw;
	  
}
.nav li{
	align-items:center;
	padding:0px;  
	margin-left:50px;
	margin-top: -240px;
}
.nav li a{
	text-decoration:none;
	color:#fff; 
	text-align: center;
	padding: -10px;
	font-size: 20px;
	} 
nav ul a:hover{
	color:#fff111;
}
.active{
	color:#fff;
}
.menu{
	position: relative;
	margin-top:-40px;
	color: #fff;
}
.hover{
	margin-left: 100px;

}

.changepassword{
	margin:10% 0% 0% 33%; ;
	padding:5% ;
	width:25%;
	border-radius:5%;
	border-style: groove; 
	border-color:#D5DBDB;
	background-color: #F2F4F4  ; 
}
.changepassword h2{
	font-size:3vw;
	margin:-10% -10% 0% 30%; 	
}
.changepassword button{
	width:82%;
	height:45px;
	margin:5% 0% 0% 8%;
	background-color:#28B463;
	color: #e6ffff;
	font-size:18px;
	font-family: "Franklin Gothic";
	border-radius:9px;
	border-style: groove;
}
.changepassword input{
	width:80%;
	height: 45px;
	margin: 5% 20% 0% 8%;
	font-family: "Franklin Gothic";
	border-radius:5px;
	border-style: groove;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  float:right;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
margin-top:-10px; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
